<%- include ('../partials/header') %>

<header class="jumbotron container">
  <h1>Kazy's Car World</h1>
</header>

<div style="font-style: italic;" class="container">
    <p>Kazy's Car world is the leading used cars retailer with an initiative to reach 1 million dollar sales in 2020.</p>
    <p>Started in 2015 by Kuwar Dua, it has lead its way from garages to a showroom.</p>
    <p>We deal in all sorts of unaccidental cars and are ready to help you <span style="color:darkblue"> 24/7 </span></p>
    <p>Kazy's Car World in incomplete without vendors like you who trust us.</p>
    <p>Lets grow and build together</p>
</div>

<%- include ('../partials/footer') %>